<!DOCTYPE html>
<html>
    <head>
        <title>Video Editor</title>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
	body{
		background: #E3ECF0;
		/* font-family: 'Open Sans Condensed', sans-serif; */
        font-family: 'Dosis', sans-serif;
	}
    div {
  	    display: flex;
  	    justify-content: center;
  	    position: relative;
	}
	h1, h3 {
  	    text-align: center;
	}

    .dropzone{border: 2px dashed #0087F7;margin-top: 2%;margin-left: 10%;margin-right: 10%;
                margin-bottom: 2%;min-height: 200px;}



	</style>
    </head>
    <body>
        <h1>Video Editor</h1>
        <h3>Welcome, please upload your video!</h3>
        {{ dropzone.create(action_view='index') }}
    </body>
</html>
